<section ng-controller="Contacts" ng-init="init();" id="contacts" when-visible="animateIn" when-not-visible="animateOut">
	<h1>{{content.sectionContactsHeader}}</h1>

	<div class="contacts-content">

		<div id="contacts-badge" class="row table-row text-center">
			<div class="col-md-8 contacts">
				<div class="row">
					<div class="col-sm-6">{{content.mobilePhoneLabel}}:</div>
					<div class="col-sm-6"><a ng-href={{content.mobilePhoneLink}}>{{content.mobilePhoneText}}</a></div>
				</div>
				<div class="row">
					<div class="col-sm-6">{{content.workPhoneLabel}}:</div>
					<div class="col-sm-6"><a ng-href={{content.workPhoneLink}}>{{content.workPhoneText}}</a></div>
				</div>
				<div class="row">
					<div class="col-sm-6">Skype:</div>
					<div class="col-sm-6"><a href="callto:lawbel.by">lawbel.by</a></div>
				</div>
				<div class="row">
					<div class="col-sm-6">Email:</div>
					<div class="col-sm-6"><a href="mailto:lawbel.by@gmail.com">lawbel.by@gmail.com</a></div>
				</div>
			</div>
			<div class="col-md-4 company-contact">
				<div class="contacts">
					{{content.companyName}}<br />
					{{content.companyParent}}<br />
					{{content.companyIndex}}, {{content.companyCity}}, {{content.companyAddress1}}, {{content.companyAddress2}}
				</div>
			</div>
		</div>

		<!-- Print version -->
		<div class="row print-link">
			<div>
				<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
				<a href="components/contacts/printContacts.pdf" download>{{content.downloadLabel}}</a>
			</div>
		</div>

		<br />

		<!-- Map -->
		<div class="row panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#mapCollapse">{{content.mapLabel}}</a>
					</h4>
				</div>

				<div id="mapCollapse" class="panel-collapse collapse in">
					<div id="map" class="panel-body" style="width: 100%; height: 400px">
						<!--Yandex Map-->
					</div>
					<div class="panel-footer">
						{{content.companyIndex}}, 
						{{content.companyCity}},
						{{content.companyAddress1}},
						{{content.companyAddress2}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>