<section id="services">
	<h1>{{content.sectionServicesHeader}}</h1>

	<fieldset class="services-border">
		<legend class="services-border">
			<h2><i>{{content.companyServicesSubtitle}}</i></h2>
		</legend>
		<div class="control-group">
			<div class="row">
				<div class="col-md-4 text-center" ng-repeat="companyService in content.companyServicesGrp1">
					<img ng-src={{companyService.imagePath}} alt="" width="80">
					<p class="services-text">{{companyService.text}}</p>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-4 text-center" ng-repeat="companyService in content.companyServicesGrp2">
					<img ng-src={{companyService.imagePath}} alt="" width="80">
					<p class="services-text">{{companyService.text}}</p>
				</div>
			</div>
		</div>
	</fieldset>
	<br />
	<fieldset class="services-border">
		<legend class="services-border">
			<h2><i>{{content.personServicesSubtitle}}</i></h2>
		</legend>
		<div class="control-group">
			<div class="row">
				<div class="col-md-4 text-center" ng-repeat="personService in content.personServicesGrp1">
					<img ng-src={{personService.imagePath}} alt="" width="80">
					<p class="services-text">{{personService.text}}</p>
				</div>
			</div>
		</div>
	</fieldset>
	<div>
		<p class="font-italic text-center">{{content.additionalServicesText}}</p>
	</div>
</section>