h1, h2 {
	color:  #275e63;
	text-align: center;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.main-content {
	padding: 0 40px;
	margin: 0 0 0 400px;
}

.hide-desktop {
	display: none;
}

.font-italic {
	font-style: italic;
}

/*#endregion Common */

/*#region Lang */

#lang-selection {
	margin: 10px 0;
	text-align: right;
}

a.lang {
	color: #275e63;
	padding: 5px;
	text-decoration: none;
}

a.active-lang {
	color: white;
	background-color: #367c83;
	text-decoration: none;
}

a:hover.active-lang {
	text-decoration: none;
}

/*#endregion Lang */

/*#region Contacts */
.contacts {
	font-size: 13pt;
	padding: 5px;
}

.contacts-content{
	margin: 0 20px;
}

#contacts-badge {
	border: 2px solid #367c83;
	border-radius: 10px;
}

.print-link {
	color: #616a70;
	font-size: 13pt;
	padding: 12pt;
}

.company-contact{
	background-color: #367c83;
	color: white;
	vertical-align: middle;
	width: 100%;
}

@media (min-width: 992px) {
  .table-row {
    display: table;
    table-layout: fixed;
  }

  .table-row [class^="col-md"] {
    display: table-cell;
    float: none;
  }
}
/*#endregion Contacts */

/*#region Services */
.services-text{
	font-size: 13pt;
	color: #616a70;
}

fieldset.services-border {
    border: 2px solid #616a70 !important;
	border-radius: 10px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.services-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: center !important;
    width:auto;
    padding: 10px;
    border-bottom: none;
	margin: 0 auto;
}
/*#endregion Services */

/*#region Sidebar */

#person-logo{
	margin: 0px;
	/* border: 1px solid red; */
	height: 160px;
}

.person-title{
	margin: 15px 0px 0px 0px;
	padding: 5px 20px 0px 0px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 12pt;
	font-weight: 600;
	text-align: center;
}

.person-name{
	font-size: 18pt;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-weight: 600;
}

#person-photo{
	/* border: 1px solid blue; */
}

#person-badge{
	/* border: 1px solid green; */
}

.sidebar-left .logo-small{
	width: 75px;
	height: 75px;
	margin: 15px auto auto auto;
	text-align: center;
	border-radius: 5%;
}

.sidebar-left hr{
	margin: 10px 5%;
	color: rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.5);
	border-color: rgba(0, 0, 0, 0.5);
}

.side-contact {
	font-size: 18pt;
	text-align: center;
	width: 360px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.5);
	margin: 10px auto;
	border-radius: 15px;
	padding: 2px;
}

.side-contact p {
	margin: 0 0 5px;
}

.sidebar-left {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #616a70;
	width: 400px;
	height: 100%;
	background-image: url("../img/overlay.png"), url("../img/back.jpg");
	background-position: top left, bottom center;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
}

.sidebar-left .photo {
	display: block;
	text-decoration: none;
	width: 200px;
	height: 200px;
	margin: 10px auto;
	padding: 0;
	text-align: center;
	color:  #ffffff;
	font-size: 28px;
	font-weight: normal;
	line-height: 2.6;
	border-radius: 10%;
	background-color:  #181a1b;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
  cursor: pointer;
}

#sidebar-links {
	/* margin: 20px 0 0 20px; */
	/* border: 1px solid red; */
	margin: 20px auto;
}

#sidebar-links a {
	display: block;
	text-decoration: none;
	margin: 10px 80px;
	padding: 15px 0;
	/* background-color: #275e63; */
	text-align: center;
	color:  #b3bcc5;
	font-size: 16px;
	font-weight: normal;
	border-top: 1px solid #b3bcc5;
	border-bottom: 1px solid #b3bcc5;
	/* border-left-width: 4px; */
	/* border-bottom-left-radius: 4px; */
	/* border-top-left-radius: 4px; */
	/* border-left-style: solid; */
}

/* .sidebar-left .sidebar-links a i.fa {
	display: block;
	font-size: 35px;
	margin-bottom: 5px;
} */

/* .sidebar-left .sidebar-links a.active{
	background-color: #ffffff;
	color:  #7c8085;
	cursor: default;
} */

/* Hide links on screen with little height */
@media (max-height: 780px) {
	.sidebar-left .sidebar-links {
		display: none;
	}
}

/* Move footer to main content bottom on screen with little height */
/* @media (max-height: 610px) {
	footer {
		background-attachment: scroll;
		background-color: #1f1815;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		bottom: auto;
		left: auto;
		padding: 4em 4em 6em 4em;
		margin-left: 400px;
		position: relative !important;
		text-align: center;
		width: auto !important;
	}
} */
/*#endregion Sidebar */

/*#region Welcome */
.welcome-text p {
	color: #616a70;
	font-size: 14pt;
	line-height: 1.85em;
	margin: 15px auto;
	padding: 5px;
	text-align: justify;
	text-indent: 50px;
}
/*#endregion Welcome */

/*#region Footer */
/* footer {
	bottom: 0;
	left: 0;
	padding: 5px;
	position: fixed;
	text-align: center;
	width: 400px;
	color: rgba(255, 255, 255, 0.4);
} */

footer {
	/* background-attachment: scroll; */
	/* background-color: #367c83; */
	background-color: #616a70;
	/* color: rgba(255, 255, 255, 0.4); */
	color: #a9c2ce;
	/* background-position: top left, bottom center; */
	/* background-repeat: repeat, no-repeat; */
	/* background-size: auto, cover; */
	/* bottom: auto; */
	/* left: auto; */
	padding: 10px;
	margin-left: 400px;
	/* position: relative !important; */
	text-align: center;
	/* width: auto !important; */
}

footer hr {
	background-color: rgba(255, 255, 255, 0.4);
	border: none;
	color: rgba(255, 255, 255, 0.4);
	height: 1px;
	margin: 2px 20px 7px 20px;
}

.license-link{
	color:#80afbe;
}

.imagepreview{
	width: 100%;
}
/*endregion Footer */

/*#region Responsive layout */
@media (max-width: 1000px) {

	.main-content{
		max-width: none;
		padding: 40px 20px;
		margin: 0 0 40px;
	}

	.sidebar-left {
		width: auto;
		height: auto;
		position: inherit;
		padding: 15px;
	}

	/* .sidebar-left .sidebar-links {
		text-align: center;
		margin: 20px auto 0;
		display: inherit;
	}

	.sidebar-left .sidebar-links a {
		display: inline-block;
		width: 100px;
		margin: 0;
		padding: 14px 0;
		border-left: none;
		border-top-width: 2px;
		border-top-style: solid;
	} */

	#sidebar-links {
		display: block;
		text-align: center;
		max-width: 600px;
	}
	
	/* #sidebar-links a {
		/* display: block; */
		/* max-width: 60%; */
		/* text-align: center; */
		/* margin: 0 auto 5px; */
		/* border-top: none; */
		/* border-left-width: 3px; */
		/* border-left-style: solid; */
		/* border-radius: 4px; */
	/*}	 */

	/* .sidebar-left .sidebar-links a i.fa {
		display: inline-block;
		font-size: 20px;
		width: 20px;
		margin: 0;
		vertical-align: middle;
	} */

	.logo-centered {
		display: block;
		margin: 0 auto;
	}

	.logo-centered img {
		margin: 10px auto;
		width: 300px;
	}

	footer {
		background-attachment: scroll;
		/* background-color: #1f1815; */
		/* background-color: #3A484B; */
		/* background-image: url("assets/img/overlay.png"), url("assets/img/back.jpg"); */
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		bottom: auto;
		left: auto;
		padding: 2em 2em 3em 2em;
		position: relative;
		text-align: center;
		width: 100%;
		margin: 0;
	}

	.logo-image {
		display: none;
	}
}
/*#endregion Responsive layout*/

/*#region Mobile phone layout */

@media (max-width: 450px) { 
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
	.welcome-text p {
		font-size: 15pt;
	}

	.side-contact {
		width: auto;
		margin: 10px;
	}

	.sidebar-left {
		padding: 20px 0;
	}

	.sidebar-left .sidebar-links {
		display: block;
		/*text-align: center;*/
		margin: 15px;
	}
	
	.sidebar-left .sidebar-links a {
		display: block;
		width: auto;
		text-align: center;
		margin: 0 auto 5px;
		border-top: none;
		border-left-width: 3px;
		border-left-style: solid;
		border-radius: 4px;
	}	

	.sidebar-left .sidebar-links a i.fa {
		display: inline-block;
		font-size: 20px;
		width: 20px;
		margin: 0;
		vertical-align: middle;
	}

	.hide-mobile {
		display: none;
	}
}
/*#endregion Mobile phone layout */