<aside>
	<div class="sidebar-left">
		<div id="person-logo">
			<div class="row">
				<div class="col-xs-4">
					<img ng-src="assets/img/logo_small.png" alt="" class="logo-small center-block">
				</div>
				<div class="col-xs-8 person-title">
					<p class="center-block">
						{{content.personTitle}}
						<br />
						{{content.personSpecialization}}
					</p>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-xs-12">
					<p class="person-name">{{content.personName}}</p>	
				</div>
			</div>
		</div>


		<!-- <div id="person-photo">
			<img ng-src="assets/img/photo.png" alt="" class="photo">
		</div> -->
		<div id="person-badge">
			<div class="side-contact">
				<p>
					<small>{{content.badgeText}}</small>
					<br />
				</p>
				<p>{{content.mobilePhoneText}}</p>
			</div>
		</div>
		<div id="sidebar-links">
			<a href="#services" du-smooth-scroll>{{content.navigation[0]}}</a>
			<a href="#contacts" du-smooth-scroll>{{content.navigation[1]}}</a>
		</div>
	</div>
</aside>