<html ng-controller="Index" ng-init="init()" ng-cloak>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	<meta name="theme-color" content="#367c83">
	<meta name="Robots" content="all"/>
	<meta name="Keywords" content="адвокат Могилёв, адвокат Могилев, правовая помощь в Могилеве, адвокат Белова, Белова Ксения Сергеевна, lawbel, lawbel.by"/>
	<meta name="Description" content="адвокат Белова Ксения Сергеевна. Оказание правовой помощи в городе Могилёве, а также на территории всей Республики Беларусь. Составление заявлений, представительство интересов в органах государственной власти, консультирование по юридическим вопросам" />

	<meta property="place:location:latitude" content="53.90494657"/>
	<meta property="place:location:longitude" content="30.34381450"/>
	<meta property="business:contact_data:street_address" content="ул. Ленинская, 63; офис 410"/>
	<meta property="business:contact_data:locality" content="Могилёв"/>

	<!-- Facebook, VK -->
	<meta property="og:image" content="/assets/img/logo_social.png" />
	<meta property="og:title" content="Правовая помощь в Могилёве" />
	<meta property="og:description" content="адвокат Белова Ксения Сергеевна. Оказание правовой помощи в городе Могилёве, а также на территории всей Республики Беларусь. Составление заявлений, представительство интересов в органах государственной власти, консультирование по юридическим вопросам" />

	<link rel="shortcut icon" href="/assets/img/Favicon.png" type="image/x-icon">
	<link rel="icon" href="/assets/img/Favicon.png" type="image/x-icon">


	<!--Styles-->
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i&amp;subset=cyrillic">
	<link rel="stylesheet" href="assets/styles/site.css">
	

	<!--Scripts-->

	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/angular-scroll/angular-scroll.min.js"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

	<script src="common/common.module.js"></script>
	<script src="common/services/content.service.js"></script>

	<script src="components/contacts/contacts.module.js"></script>
	<script src="components/contacts/contacts.controller.js"></script>
	<script src="components/contacts/section-contacts.directive.js"></script>

	<script src="components/footer/footer.module.js"></script>
	<script src="components/footer/section-footer.directive.js"></script>

	<script src="components/services/services.module.js"></script>
	<script src="components/services/section-services.directive.js"></script>

	<script src="components/sidebar/sidebar.module.js"></script>
	<script src="components/sidebar/section-sidebar.directive.js"></script>

	<script src="components/welcome/welcome.module.js"></script>
	<script src="components/welcome/section-welcome.directive.js"></script>

	<script src="app.module.js"></script>
	<script src="app.run.js"></script>

	<script src="index.controller.js"></script>

	<title ng-bind="content.title">Правовая помощь в Могилёве</title>
</head>

<body>

	<!--Sidebar left up-->
	<section-sidebar></section-sidebar>

	<!--Main content-->
	<div class="main-content">
		<div id="lang-selection">
			<div>
				<a href="" ng-click="loadRU()" ng-class="isActiveLang('RU')" class="lang">РУС</a>
				<a href="" ng-click="loadBY()" ng-class="isActiveLang('BY')" class="lang">БЕЛ</a>
			</div>
		</div>

		<section-services></section-services>
		<hr />
		<section-contacts></section-contacts>
		<hr />
		<section-welcome></section-welcome>
		<br />
	</div>

	<!-- Footer -->
	<section-footer></section-footer>
</body>

</html>