<footer>
	<!-- VK Widget
	<div id="vk_groups"></div>
	<script type="text/javascript">
		VK.Widgets.Group("vk_groups", { mode: 1, width: "275", color3: '367C83' }, 69671285);
	</script> -->
	<p>
		{{content.companyName}}<br /> {{content.companyParent}}
	</p>
	<hr />
	<p>
		{{content.licenseText}}
		<a href="" class="pop license-link">
			<img ng-src="../assets/img/license.png" alt="" id="imageresource" class="hidden"> <b>{{content.licenseNum}}</b>
		</a> {{content.licenseIssuedBy}}
	</p>
	<p>
	</p>
</footer>

<!-- Modal window to show license image -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img class="imagepreview">
			</div>
		</div>
	</div>
</div>

<script>
				$(document).ready(function () {
					$('.pop').on('click', function () {
						$('.imagepreview').attr('src', $(this).find('img').attr('src'));
						$('#imagemodal').modal('show');
					});
				});

</script>